---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="social">
  <div class="share">
    <div class="g-plusone" data-size="medium"></div>
  </div>
  <div class="share">
    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ site.url }}{{ page.url }}&text={{ page.title }}&hashtags={{ page.hashtag }}&via=ac_reed&count=horizontal" style="width:115px; height:21px;"></iframe>
  </div>
</div>
<br />
<div id="post">
{{ content }}
</div>
